.container {
    width: 100px;
    padding: 10px;
    background: black;
    border-radius: 10px;
}

.light {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    border-radius: 50%;
    background: grey;
}

.red.active {
    background: red;
    box-shadow: 0 0 20px red, 0 0 40px red;
}

.yellow.active {
    background: yellow;
    box-shadow: 0 0 20px yellow, 0 0 40px yellow;
}

.green.active {
    background: green;
    box-shadow: 0 0 20px green, 0 0 40px green;
}